html,
body,
#root {
    height: 100%;
    margin: 0;
}
.grid-container {
    display: grid;
    width: 700px;
    height: 400px;
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: [first] auto [second] 200px [third] auto;
    gap: 20px;
}
.grid-container > * {
    background-color: #daa520;
}
